.start {
  @include flex-centered;
  height: 100%;
  margin-right: $start-margin;
  border-right: red;
  background: url("../../assets/start.png");
  background-size: cover;

  &:hover {
    background: url("../../assets/start-hover.png");
    background-size: cover;
  }
}
