.toolbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  background: rgb(29, 29, 29);
}

.toolbar__left-side {
  display: flex;
}

.toolbar__applications {
  @include flex-centered;
}

.toolbar__application {
  background: black;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 0 0.8em;

  &:hover {
    cursor: pointer;
    background: aquamarine;
  }

  &--with-menu {
    justify-content: space-between;
  }
}

.toolbar__application-arrow {
  @include icon-list-down(10px);
}

.toolbar__application-menu {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  background: blue;
}

.toolbar__application-menu-item {
  background: black;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  padding: 0.8em;

  &:hover {
    cursor: pointer;
    background: aquamarine;
  }
}
