.file {
  position: relative;
  width: $file-size;
  height: $file-size;
  background: black;
  user-select: none;
  @include flex-centered;

  &:hover {
    cursor: pointer;
    background: aquamarine;
  }
}
