.window {
  position: absolute;
}

.window__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $window-bar-padding;
  height: $window-bar-height;
  background: rgb(14, 14, 65);
}

.window__title {
  max-width: calc(100% - #{$window-actions-size} - #{$window-bar-padding});
  overflow: hidden;
  user-select: none;
  white-space: nowrap;
}

.window__actions {
  display: flex;
  height: 100%;
  width: $window-actions-size;
  align-items: center;
}

.window__action {
  width: $window-action-size;
  height: $window-action-size;
  margin-right: $window-bar-padding;

  &:hover {
    cursor: pointer;
  }

  &:last-child {
    margin-right: 0;
  }

  &--minimalize {
    background: rgb(126, 126, 16);
  }

  &--fullscreen {
    background: rgb(0, 0, 255);
  }

  &--exit {
    background: rgb(107, 6, 6);
  }
}

.window__content {
  height: calc(100% - #{$window-bar-height});
  background: rgb(75, 25, 25);
  padding: $window-resizer-size;
  padding-top: 0;
}

.window__resizer {
  position: absolute;
  background: yellow;

  &--left,
  &--right {
    width: $window-resizer-size;
    height: calc(100% - #{$window-bar-height} - #{$window-resizer-size});
  }

  &--left {
    left: 0;
    cursor: w-resize;
  }

  &--right {
    right: 0;
    cursor: e-resize;
  }

  &--bottom {
    bottom: 0;
    width: calc(100% - #{$window-resizer-size} * 2);
    height: $window-resizer-size;
    cursor: s-resize;
  }

  &--bottom-left,
  &--bottom-right {
    bottom: 0;
    width: $window-resizer-size;
    height: $window-resizer-size;
  }

  &--bottom-left {
    left: 0;
    cursor: sw-resize;
  }

  &--bottom-right {
    right: 0;
    cursor: se-resize;
  }
}
