.window__resizer {
  position: absolute;

  &--left {
    @include window-resizer-color($direction: to right, $map: $window-resizer);
    left: 0;
    cursor: w-resize;
  }

  &--right {
    @include window-resizer-color($direction: to left, $map: $window-resizer);
    right: 0;
    cursor: e-resize;
  }

  &--left,
  &--right {
    top: $window-resizer-size;
    width: $window-resizer-size;
    height: calc(100% - #{$window-resizer-size * 2});
  }

  &--top {
    @include window-resizer-top-color($window-resizer-top);
    top: 0;
    cursor: n-resize;
  }

  &--bottom {
    @include window-resizer-color($direction: to top, $map: $window-resizer);
    bottom: 0;
    cursor: s-resize;
  }
  &--bottom,
  &--top {
    left: $window-resizer-size;
    width: calc(100% - #{$window-resizer-size} * 2);
    height: $window-resizer-size;
  }

  &--bottom#{&}--left,
  &--bottom#{&}--right,
  &--top#{&}--left,
  &--top#{&}--right {
    width: $window-resizer-size;
    height: $window-resizer-size;
  }

  &--bottom#{&}--left {
    @include window-resizer-color($direction: 45deg, $map: $window-resizer);
    @include reset-relative-positions;
    left: 0;
    bottom: 0;
    cursor: sw-resize;
  }

  &--bottom#{&}--right {
    @include window-resizer-color($direction: -45deg, $map: $window-resizer);
    @include reset-relative-positions;
    right: 0;
    bottom: 0;
    cursor: se-resize;
  }

  &--top#{&}--left {
    @include window-resizer-color($direction: 135deg, $map: $window-resizer);
    @include reset-relative-positions;
    left: 0;
    top: 0;
    cursor: nw-resize;
  }

  &--top#{&}--right {
    @include window-resizer-color($direction: -135deg, $map: $window-resizer);
    @include reset-relative-positions;
    right: 0;
    top: 0;
    cursor: ne-resize;
  }

  &--disabled,
  &--disabled#{&}--bottom#{&}--left,
  &--disabled#{&}--bottom#{&}--right,
  &--disabled#{&}--top#{&}--left,
  &--disabled#{&}--top#{&}--right {
    cursor: default;
  }
}

.window--focused {
  .window__resizer {
    &--left {
      @include window-resizer-color(
        $direction: to right,
        $map: $window-resizer-focused
      );
    }

    &--right {
      @include window-resizer-color(
        $direction: to left,
        $map: $window-resizer-focused
      );
    }

    &--top {
      @include window-resizer-top-color($window-resizer-top-focused);
    }

    &--bottom {
      @include window-resizer-color(
        $direction: to top,
        $map: $window-resizer-focused
      );
    }

    &--bottom.window__resizer--left {
      @include window-resizer-color-corner(
        $direction: 45deg,
        $map: $window-resizer-focused
      );
    }

    &--bottom.window__resizer--right {
      @include window-resizer-color-corner(
        $direction: -45deg,
        $map: $window-resizer-focused
      );
    }

    &--top.window__resizer--left {
      @include window-resizer-color-corner(
        $direction: 135deg,
        $map: $window-resizer-focused
      );
    }

    &--top.window__resizer--right {
      @include window-resizer-color-corner(
        $direction: -135deg,
        $map: $window-resizer-focused
      );
    }
  }
}
