@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin icon-list-down($size, $color: white) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;

  border-top: $size solid $color;
}

@mixin reset-relative-postions {
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

@mixin window-border-color($direction) {
  background: linear-gradient(
    $direction,
    map-get($window-colors, "border-start"),
    map-get($window-colors, "border-end")
  );
}

@mixin window-border-color-corner($direction) {
  background: linear-gradient(
    $direction,
    window-color("border-start") 30%,
    window-color("border-end") 100%
  );
}
