@mixin scrollbar-button($direction) {
  background-color: #bbbbbb;
  display: block;
  height: $scrollbar-width;
  width: $scrollbar-width;
  background-size: cover;
  border: 1px solid $scrollbar-track-border-color;
  background-image: url(../../../assets/scrollbar/button-#{$direction}.png);

  &:hover {
    background-image: url(../../../assets/scrollbar/button-#{$direction}-hover.png);
  }

  &:active {
    background-image: url(../../../assets/scrollbar/button-#{$direction}-active.png);
  }
}
