@mixin toolbar-background {
  @include linear-gradient-from-main(
    $toolbar,
    to bottom,
    4%,
    8%,
    12%,
    16%,
    20%,
    50%,
    80%
  );
}

@mixin taskbar-background($map, $light: 0%) {
  $c1: map-get($map, "main-1");
  $c2: map-get($map, "main-1");
  $c3: map-get($map, "main-1");

  background: linear-gradient(
    to bottom,
    lighten($c1, $light) 0%,
    lighten($c2, $light) 30%,
    lighten($c3, $light)
  );
}
