@mixin window-resizer-color($direction, $map) {
  background: linear-gradient(
    $direction,
    map-get($map, "start"),
    map-get($map, "end")
  );
}

@mixin window-resizer-top-color($map) {
  background: linear-gradient(
    to bottom,
    map-get($map, "main-1") 25%,
    map-get($map, "main-2") 75%
  );
}

@mixin window-resizer-color-corner($direction, $map) {
  background: linear-gradient(
    $direction,
    map-get($map, "start") 30%,
    map-get($map, "end")
  );
}

@mixin window-bar-gradient($map) {
  background: linear-gradient(
    to bottom,
    map-get($map, "main-1") 5%,
    map-get($map, "main-2") 20%,
    map-get($map, "main-3") 80%,
    map-get($map, "main-4") 95%
  );
}

@mixin window-icon($icon) {
  $path: "../../../assets/actions/";
  &--#{$icon} {
    background-image: url(#{$path}#{$icon}-not-focused.png);
  }

  .window--focused &--#{$icon} {
    background-image: url(#{$path}#{$icon}.png);
  }

  &--#{$icon}:hover {
    background-image: url(#{$path}#{$icon}-hover.png);
  }

  &--#{$icon}:active {
    background-image: url(#{$path}#{$icon}-active.png);
  }
}
